# node modules
node_modules
# build path
dist
# environmental variables
.env
# yarn error log
yarn-error.log
#coverage
coverage
#package-lock.json
package-lock.json
#files
files
.scannerwork
mysql-docker-compose.yml